table.tblContactUs {
  table-layout: auto;
  width: 100%;
}

h1.a {
  text-align: left;
  border-bottom-style: solid;
}

input.btnsend {
  text-align: right;
  border-radius: 10;
}
body {
  background-color: rgb(165, 155, 255);
  padding: 5px;
}
